# Auto detect text files and perform LF normalization
* text=auto
.next/cache/webpack/client-production/0.pack filter=lfs diff=lfs merge=lfs -text
.next/cache/webpack/server-production/0.pack filter=lfs diff=lfs merge=lfs -text
